# Dependencies
/vendor/bundle/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-*

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Temp
*.tmp
*.temp
*.bak

# Coverage
/coverage/
