# Build artifacts
/build/
/dist/
/out/

# Dependencies
/deps*
_build/*
node_modules/
package-lock.json
package.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-*

# Env
.env
.env.*
!.env.example

# Logs
*.log

# Temp
*.tmp
*.temp
*.bak
